@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    font-family: Inter, sans-serif;
}

.children {
    overflow: hidden;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.children-expanded {
    max-height: 2000px;
    opacity: 1;
}

.children-collapsed {
    max-height: 0;
    opacity: 0;
}

button.chevron {
    padding: 0px 8px 0px 16px;
    transition: transform 1s ease;
    color: #666;
    font-size: 12px;
    transform: none;
}

:root {
    /* Colors */
    --color-surface: #ffffff;
    --color-hover: #f3f4f6;
    --color-on-surface: #374151;
    --color-border: #e5e7eb;
    --color-primary: #4f46e5;
    --color-primary-600: #4338ca;

    /* Font sizes */
    --font-size-base: 1rem;

    /* Border radius */
    --border-radius: 0.25rem;

    /* Spacing */
    --spacing-item-selector: 2.5rem;
}
