@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    font-family: Inter, sans-serif;
}

.children {
    overflow: hidden;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.children-expanded {
    max-height: 2000px;
    opacity: 1;
}

.children-collapsed {
    max-height: 0;
    opacity: 0;
}

button.chevron {
    padding: 0px 8px 0px 16px;
    transition: transform 1s ease;
    color: #666;
    font-size: 12px;
    transform: none;
}


// naming convention is not what I would use, but this is what the original designer used
:root {
    /* Colors */
    --color-surface: hsl(0, 0%, 100%);
    --color-hover: hsl(0, 0%, 96%);
    --color-on-surface: hsl(195, 3%, 24%);
    --color-border: hsl(210, 0%, 89%);
    --color-primary: hsl(213, 97%, 53%);

    /* Font sizes */
    --font-size-base: 1rem;

    /* Border radius */
    --border-radius: 0.25rem;

    /* Spacing */
    --spacing-item-selector: 2.5rem;
}
